.history-page .success {
    color: var(--color-su500)
}

.mobile .history-page .m-info-block,
.tablet .history-page .m-info-block {
    height: 192px
}

.desktop .history-page .m-info-block {
    height: 288px
}

.history-page .m-info-block .m-icon {
    color: var(--color-mid-grey-1)
}

.m-combobox-label {
    display: inline-flex;
    align-items: center;
    padding: 2px 4px 2px 8px;
    gap: 4px;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-white);
    background: var(--color-dark-grey-3);
    border-radius: var(--selector-radiobutton-border-radius-m);
    white-space: nowrap;
    --gradient-color: var(--gradient-white-10-top)
}

.m-combobox-label .m-icon {
    width: 18px;
    height: 18px;
    color: var(--color-mid-grey-2);
    cursor: pointer
}

.m-combobox .m-input input {
    cursor: pointer
}

.m-combobox .m-input input:disabled {
    opacity: 1
}

.m-combobox .m-input-append .m-icon {
    width: 16px;
    height: 16px
}

.m-combobox .m-input.has-selected .m-input-content-label {
    display: none
}

.m-combobox .m-input.has-selected .m-combobox-labels {
    padding-right: 32px
}

.m-combobox-chevron {
    color: var(--color-mid-grey-5);
    transition: .2s all ease-in-out;
    transform: rotate(180deg)
}

.m-combobox-chevron.active {
    transform: rotate(0deg)
}

.m-combobox-dropdown {
    overflow: auto;
    border-radius: 8px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-grey-5) rgba(0, 0, 0, 0)
}

.m-combobox-dropdown::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: var(--color-dark-grey-1)
}

.m-combobox-dropdown::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-grey-5);
    border-radius: 3px
}

.m-combobox-dropdown .m-form-field-label {
    color: inherit
}

.m-combobox-content {
    background: var(--color-dark-grey-2);
    padding: 8px 0;
    list-style: none;
    margin: 0
}

.m-combobox-row.m-form-field {
    flex-direction: row;
    padding: 9px 16px
}

.m-combobox-row.m-form-field .m-form-field-label {
    order: 2;
    margin-left: 12px
}

.m-combobox-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: var(--color-dark-grey-4);
    color: var(--color-mid-grey-5);
    cursor: pointer
}

.m-combobox-labels-wrapper {
    min-width: 0;
    overflow-x: hidden
}

.m-combobox-labels {
    display: flex;
    min-width: 0;
    max-width: 100%;
    overflow-x: scroll
}

.m-combobox-label {
    margin-right: 4px
}

.m-combobox-label:last-child {
    margin-right: 0
}

.m-combobox .m-input-prepend {
    max-width: calc(100% - 76px)
}

.m-combobox .m-input-prepend .m-icon {
    flex-shrink: 0
}

.vc-base-icon {
    display: inline-block;
    stroke: currentColor;
    stroke-width: 2;
    fill: none
}

.vc-header {
    display: grid;
    grid-gap: 4px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.vc-header.is-lg {
    font-size: var(--vc-text-lg)
}

.vc-header.is-xl {
    font-size: var(--vc-text-xl)
}

.vc-header.is-2xl {
    font-size: var(--vc-text-2xl)
}

.vc-header .vc-title,
.vc-header .vc-prev,
.vc-header .vc-next {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row: 1;
    border: 0;
    border-radius: var(--vc-rounded);
    pointer-events: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.vc-header .vc-title {
    grid-column: title;
    color: var(--vc-header-title-color);
    font-weight: var(--vc-font-semibold);
    white-space: nowrap;
    padding: 0 8px;
    margin: 0;
    line-height: 30px
}

.vc-header .vc-title:hover {
    opacity: .75
}

.vc-header .vc-arrow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--vc-header-arrow-color);
    width: 28px;
    height: 30px;
    margin: 0;
    padding: 0
}

.vc-header .vc-arrow:hover {
    background: var(--vc-header-arrow-hover-bg)
}

.vc-header .vc-arrow:disabled {
    opacity: .25;
    pointer-events: none
}

.vc-header .vc-prev {
    grid-column: prev
}

.vc-header .vc-next {
    grid-column: next
}

.vc-day {
    position: relative;
    min-height: 32px;
    z-index: 1
}

.vc-monthly .is-not-in-month * {
    opacity: 0;
    pointer-events: none
}

.vc-day-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none
}

.vc-day-box-center-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.vc-day-box-left-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%
}

.vc-day-box-right-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%
}

.vc-day-box-center-bottom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.vc-day-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--vc-text-sm);
    font-weight: var(--vc-font-medium);
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: var(--vc-rounded-full);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.vc-day-content:hover {
    background-color: var(--vc-day-content-hover-bg)
}

.vc-day-content.vc-disabled {
    color: var(--vc-day-content-disabled-color)
}

.vc-content:not(.vc-base) {
    font-weight: var(--vc-font-bold);
    color: var(--vc-content-color)
}

.vc-highlights {
    overflow: hidden;
    pointer-events: none;
    z-index: -1
}

.vc-highlight {
    width: 28px;
    height: 28px
}

.vc-highlight.vc-highlight-base-start {
    width: 50% !important;
    border-radius: 0 !important;
    border-right-width: 0 !important
}

.vc-highlight.vc-highlight-base-end {
    width: 50% !important;
    border-radius: 0 !important;
    border-left-width: 0 !important
}

.vc-highlight.vc-highlight-base-middle {
    width: 100%;
    border-radius: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    margin: 0 -1px
}

.vc-highlight-bg-outline,
.vc-highlight-bg-none {
    background-color: var(--vc-highlight-outline-bg);
    border: 2px solid;
    border-color: var(--vc-highlight-outline-border);
    border-radius: var(--vc-rounded-full)
}

.vc-highlight-bg-light {
    background-color: var(--vc-highlight-light-bg);
    border-radius: var(--vc-rounded-full)
}

.vc-highlight-bg-solid {
    background-color: var(--vc-highlight-solid-bg);
    border-radius: var(--vc-rounded-full)
}

.vc-highlight-content-outline,
.vc-highlight-content-none {
    font-weight: var(--vc-font-bold);
    color: var(--vc-highlight-outline-content-color)
}

.vc-highlight-content-light {
    font-weight: var(--vc-font-bold);
    color: var(--vc-highlight-light-content-color)
}

.vc-highlight-content-solid {
    font-weight: var(--vc-font-bold);
    color: var(--vc-highlight-solid-content-color)
}

.vc-dots {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.vc-dot {
    width: 5px;
    height: 5px;
    border-radius: 9999px;
    transition: var(--vc-day-content-transition)
}

.vc-dot:not(:last-child) {
    margin-right: 3px
}

.vc-bars {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75%
}

.vc-bar {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 3px;
    transition: var(--vc-day-content-transition)
}

.vc-dot {
    background-color: var(--vc-dot-bg)
}

.vc-bar {
    background-color: var(--vc-bar-bg)
}

.vc-pane {
    min-width: 250px
}

.vc-weeknumber {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute
}

.vc-weeknumber.is-left {
    left: calc(var(--vc-weeknumber-offset-inside)*-1)
}

.vc-weeknumber.is-right {
    right: calc(var(--vc-weeknumber-offset-inside)*-1)
}

.vc-weeknumber.is-left-outside {
    left: calc(var(--vc-weeknumber-offset-outside)*-1)
}

.vc-weeknumber.is-right-outside {
    right: calc(var(--vc-weeknumber-offset-outside)*-1)
}

.vc-weeknumber-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--vc-text-xs);
    font-weight: var(--vc-font-medium);
    font-style: italic;
    width: 28px;
    height: 28px;
    margin-top: 2px;
    color: var(--vc-weeknumber-color);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.vc-weeks {
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 6px;
    min-width: 232px
}

.vc-weeks.vc-show-weeknumbers-left {
    margin-left: var(--vc-weeknumber-offset-inside)
}

.vc-weeks.vc-show-weeknumbers-right {
    margin-right: var(--vc-weeknumber-offset-inside)
}

.vc-weekday {
    text-align: center;
    color: var(--vc-weekday-color);
    font-size: var(--vc-text-sm);
    font-weight: var(--vc-font-bold);
    line-height: 14px;
    padding-top: 4px;
    padding-bottom: 8px;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.vc-week,
.vc-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative
}

.vc-popover-content-wrapper {
    --popover-horizontal-content-offset: 8px;
    --popover-vertical-content-offset: 10px;
    --popover-caret-horizontal-offset: 18px;
    --popover-caret-vertical-offset: 8px;
    position: absolute;
    display: block;
    outline: none;
    z-index: 10
}

.vc-popover-content-wrapper:not(.is-interactive) {
    pointer-events: none
}

.vc-popover-content {
    position: relative;
    color: var(--vc-popover-content-color);
    font-weight: var(--vc-font-medium);
    background-color: var(--vc-popover-content-bg);
    border: 1px solid;
    border-color: var(--vc-popover-content-border);
    border-radius: var(--vc-rounded-lg);
    padding: 4px;
    outline: none;
    z-index: 10;
    box-shadow: var(--vc-shadow-lg)
}

.vc-popover-content.direction-bottom {
    margin-top: var(--popover-vertical-content-offset)
}

.vc-popover-content.direction-top {
    margin-bottom: var(--popover-vertical-content-offset)
}

.vc-popover-content.direction-left {
    margin-right: var(--popover-horizontal-content-offset)
}

.vc-popover-content.direction-right {
    margin-left: var(--popover-horizontal-content-offset)
}

.vc-popover-caret {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-top: inherit;
    border-left: inherit;
    background-color: inherit;
    z-index: -1
}

.vc-popover-caret.direction-bottom {
    top: 0
}

.vc-popover-caret.direction-bottom.align-left {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg)
}

.vc-popover-caret.direction-bottom.align-center {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
}

.vc-popover-caret.direction-bottom.align-right {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg)
}

.vc-popover-caret.direction-top {
    top: 100%
}

.vc-popover-caret.direction-top.align-left {
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg)
}

.vc-popover-caret.direction-top.align-center {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
    transform: translateX(-50%) translateY(-50%) rotate(-135deg)
}

.vc-popover-caret.direction-top.align-right {
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg)
}

.vc-popover-caret.direction-left {
    left: 100%
}

.vc-popover-caret.direction-left.align-top {
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg)
}

.vc-popover-caret.direction-left.align-middle {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(135deg);
    transform: translateY(-50%) translateX(-50%) rotate(135deg)
}

.vc-popover-caret.direction-left.align-bottom {
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg)
}

.vc-popover-caret.direction-right {
    left: 0
}

.vc-popover-caret.direction-right.align-top {
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg)
}

.vc-popover-caret.direction-right.align-middle {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    transform: translateY(-50%) translateX(-50%) rotate(-45deg)
}

.m-datepicker {
    --border: transparent;
    --background: var(--color-dark-grey-1);
    --background-hover: var(--color-dark-grey-2);
    --background-active: var(--color-dark-grey-2);
    --height: 44px
}

.m-datepicker-range {
    display: flex;
    align-items: center
}

.m-datepicker-separator {
    margin: 0 4px 0 0
}

.desktop .m-datepicker-separator {
    display: block;
    width: 10px;
    height: 2px;
    margin: 0 4px;
    background: var(--color-dark-grey-2);
    border-radius: 5px
}

.vc-dark {
    --vc-bg: var(--color-dark-grey-2);
    --vc-color: var(--color-light-grey-3);
    --vc-header-arrow-color: var(--color-button-fill-secondary-icon-container-icon);
    --vc-popover-content-bg: var(--color-dark-grey-3);
    --vc-nav-item-active-bg: var(--color-pr500);
    --vc-nav-item-active-color: var(--color-text-primary);
    --vc-nav-item-current-color: var(--color-pr500);
    --vc-nav-hover-bg: var(--color-dark-grey-4);
    --vc-popover-content-color: var(--color-white);
    --vc-popover-content-border: var(--color-dark-grey-2);
    --vc-focus-ring: var(--color-dark-grey-5);
    --vc-weekday-color: var(--color-mid-grey-4);
    --vc-day-content-hover-bg: var(--color-dark-grey-4);
    --vc-rounded-full: 8px;
    --vc-header-arrow-hover-bg: var(--color-dark-grey-4)
}

.vc-dark .vc-attr {
    --vc-dot-bg: var(--color-pr500);
    --vc-highlight-outline-bg: var(--color-dark-grey-2);
    --vc-highlight-outline-border: var(--color-dark-grey-3);
    --vc-highlight-solid-bg: var(--color-pr500);
    --vc-highlight-solid-content-color: var(--color-button-primary);
    --vc-highlight-outline-content-color: var(--color-pr500);
    --vc-highlight-light-bg: var(--color-dark-grey-3)
}

.vc-nav-item {
    color: var(--color-light-grey-3)
}

.vc-week {
    margin-bottom: 4px
}

.weekday-1,
.vc-weekday-1,
.weekday-7,
.vc-weekday-7 {
    color: var(--color-da500)
}

.vc-popover-content-wrapper {
    --popover-vertical-content-offset: 2px
}

.vc-highlight,
.vc-day-content {
    width: 32px;
    height: 32px
}

.vc-dots {
    position: absolute;
    right: 5px;
    bottom: 5px
}

.vc-title {
    font-size: 14px;
    font-weight: 600
}

.vc-popover-caret {
    display: none
}

.vc-header .vc-prev,
.vc-header .vc-next {
    background: var(--color-dark-grey-3);
    border-radius: 50%
}

.TabSelect {
    display: flex;
    flex-wrap: wrap
}

.TabSelect-Item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    margin-bottom: 8px;
    margin-right: 6px;
    padding: 0 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--color-white);
    background: var(--color-dark-grey-3);
    border-radius: 34px;
    white-space: nowrap;
    cursor: pointer
}

.TabSelect-Item:last-child {
    margin-right: 0
}

.TabSelect-Item--selected {
    background: var(--color-pr500);
    color: var(--color-white) !important
}

.HistoryFilters {
    padding: 0 2px;
    margin-bottom: 16px;
}

.desktop .HistoryFilters {
    display: flex;
    max-width: 100%;
    margin-bottom: 12px
}

.desktop .HistoryFilters>span,
.desktop .HistoryFilters>div {
    min-width: 0
}

.desktop .desktop .HistoryFilters>span,
.desktop .desktop .HistoryFilters>div {
    margin-right: 12px
}

.HistoryFilters-Title {
    margin: 12px 0 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-light-grey-3)
}

.HistoryFilters-Title:first-child {
    margin: 0 0 8px
}

.desktop .HistoryFilters-Title {
    display: none
}

.desktop .HistoryFilters-Filter .m-datepicker-field,
.desktop .HistoryFilters .m-datepicker-range .m-datepicker-field {
    max-width: 165px
}

.desktop .HistoryFilters-Field {
    max-width: 250px
}

.HistoryFilters .m-input-prepend {
    color: var(--color-mid-grey-5)
}

.MobileFilters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px
}

.MobileFilters-Text {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-mid-grey-5)
}

.MobileFilters .m-button-content {
    width: 100%
}

.MobileFilters .m-counter {
    margin-left: 0;
    margin-right: 8px
}

.MobileFilters .m-icon {
    margin-left: auto;
    color: var(--color-mid-grey-3)
}

.DataTableHead {
    display: flex;
    width: 100%
}

.DataTableHead-Content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(var(--items-count), 1fr)
}

.DataTableHead-Col {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-mid-grey-4);
    white-space: nowrap;
}

.DataTableHead-Copy {
    width: 64px
}

.DataTableHead .m-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px
}

.data-table-pagination {
    display: flex;
    width: 100%;
    margin-top: 25px
}

.data-table-pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-light-grey-1);
    background: var(--color-dark-grey-3);
    border-radius: 8px;
    cursor: pointer
}

.data-table-pagination__item--active {
    color: var(--color-white);
    background: var(--color-pr500)
}

.data-table-pagination__item:last-child {
    margin-right: 0
}

.data-table-pagination__item:disabled {
    background: var(--color-dark-grey-2)
}

.data-table-pagination__prev {
    margin-left: auto
}

.CopyClipboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--color-dark-grey-3);
    cursor: pointer;
    overflow: hidden
}

.CopyClipboard .m-button-content>span {
    display: flex;
    justify-content: center;
    align-items: center
}

.desktop .CopyClipboard {
    width: 32px;
    height: 32px;
    margin: 0
}

.CopyClipboard-Text {
    margin-left: 6px
}

.desktop .CopyClipboard-Text {
    display: none
}

.CopyClipboard .m-icon {
    width: 20px;
    height: 20px;
    color: var(--color-mid-grey-5)
}

.DataTableCol {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-white);
    text-transform: capitalize;
    border-bottom: 1px solid var(--color-dark-grey-3);
    white-space: nowrap
}

.desktop {
  .DataTableCol--betMoneyBetAmount,
  .DataTableCol--betMoneyPayout,
  .DataTableCol--betStatus {
    justify-content: center;
  }
}

.desktop .DataTableCol,
.DataTable--mobileTable .DataTableCol {
    margin: 0;
    min-height: 44px;
    padding: 6px 16px;
    border-bottom: none
}

.DataTableCol:first-child {
    margin: 0;
    padding: 11px 16px;
    background: var(--color-dark-grey-2);
    border-bottom: none
}

.desktop .DataTableCol:first-child,
.DataTable--mobileTable .DataTableCol:first-child {
    padding: 6px 16px;
    background: rgba(0, 0, 0, 0)
}

.DataTableCol:last-child {
    border-bottom: none
}

.DataTableCol-Th {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    color: var(--color-mid-grey-4)
}

.desktop .DataTableCol-Th,
.DataTable--mobileTable .DataTableCol-Th {
    position: absolute;
    opacity: 0
}

.DataTableCol .m-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px
}

.DataTableCol .m-button .m-icon {
    margin-right: 0
}

.mobile .DataTableCol .m-currency-converted,
.tablet .DataTableCol .m-currency-converted {
    display: flex;
    justify-content: flex-end
}

.DataTableRow {
    position: relative;
    margin-bottom: 8px;
    background: var(--color-dark-grey-1);
    border-radius: 16px;
    overflow: hidden
}

.DataTableRow--clickable {
    cursor: pointer
}

.DataTableRow:last-child {
    margin-bottom: 0
}

.desktop .DataTableRow {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 0
}

.desktop .DataTableRow:nth-child(even) {
    background: var(--color-dark-grey-2);
    border-radius: 8px
}

.desktop .DataTableRow:nth-child(even) .DataTableCol:after {
    background: var(--gradient-dark-grey-2-right)
}

.DataTable--mobileTable .DataTableRow {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    border-radius: 8px
}

.DataTable--mobileTable .DataTableRow:nth-child(odd) .DataTableCol:after {
    background: var(--gradient-dark-grey-0-right)
}

.mobile .DataTable--mobileTable .DataTableRow:nth-child(even),
.tablet .DataTable--mobileTable .DataTableRow:nth-child(even) {
    background: rgba(0, 0, 0, 0)
}

.mobile .DataTable--mobileTable .DataTableRow:nth-child(even) .DataTableCol:after,
.tablet .DataTable--mobileTable .DataTableRow:nth-child(even) .DataTableCol:after {
    background: var(--gradient-dark-grey-0-right)
}

.mobile .DataTable--mobileTable .DataTableRow:nth-child(odd),
.tablet .DataTable--mobileTable .DataTableRow:nth-child(odd) {
    background: var(--color-dark-grey-2)
}

.mobile .DataTable--mobileTable .DataTableRow:nth-child(odd) .DataTableCol:after,
.tablet .DataTable--mobileTable .DataTableRow:nth-child(odd) .DataTableCol:after {
    background: var(--gradient-dark-grey-2-right)
}

.desktop .DataTableRow-Content,
.DataTable--mobileTable .DataTableRow-Content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(var(--items-count), 1fr);
    align-items: center
}

.DataTableRow-Th {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    color: var(--color-mid-grey-4)
}

.DataTableRow-Copy {
    margin: 0 12px 12px
}

.desktop .DataTableRow-Copy {
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 6px 0;
    width: 64px
}

.data-table-show-more {
    margin-top: 20px;
    height: 44px;
    font-size: 16px
}

.DataTable {
    width: 100%;
    display: flex;
    flex-direction: column
}

.desktop .DataTable {
    padding: 12px 16px 16px;
    background: var(--color-dark-grey-1);
    border-radius: 16px
}

.desktop .DataTable--mobileTable {
    padding: 0;
    background: rgba(0, 0, 0, 0)
}

.DataTable .m-preloader {
    align-self: center
}

.TransactionHistoryCancelBtn {
    width: 100%
}

.desktop .TransactionHistoryCancelBtn {
    fill: var(--color-light-grey-4);
    width: 32px;
    height: 32px;
    padding: 11px
}

.DataTableCol--status.TextOverflow:after {
    display: none
}

.mobile .DataTableCol--status,
.tablet .DataTableCol--status {
    position: absolute;
    top: 11px;
    right: 16px;
    margin: 0;
    padding: 0;
    border-bottom: none
}

.mobile .DataTableCol--status .m-icon,
.tablet .DataTableCol--status .m-icon {
    display: none
}

.mobile .DataTableCol--status .DataTableCol-Label,
.tablet .DataTableCol--status .DataTableCol-Label {
    position: absolute;
    visibility: hidden
}

.mobile .DataTableCol--actionTime,
.tablet .DataTableCol--actionTime {
    justify-content: flex-start;
    font-size: 12px
}

.mobile .DataTableCol--actionTime .DataTableCol-Label,
.tablet .DataTableCol--actionTime .DataTableCol-Label {
    position: absolute;
    visibility: hidden
}

.mobile .DataTableCol--action,
.tablet .DataTableCol--action {
    border-bottom: none
}

.DataTableCol--cancelBtn.TextOverflow:after {
    display: none;
    background: rgba(0, 0, 0, 0)
}

.desktop .DataTableCol--cancelBtn {
    justify-content: flex-end;
    padding: 0 8px 0 0
}

.mobile .DataTableCol--cancelBtn .m-button,
.tablet .DataTableCol--cancelBtn .m-button {
    width: 100%
}

.mobile .DataTableCol--cancelBtn .m-icon,
.tablet .DataTableCol--cancelBtn .m-icon {
    width: 22px;
    height: 22px
}

.desktop .DataTableRow-Copy,
.desktop .DataTableHead-Copy {
    padding-right: 16px;
    width: 88px
}

.mobile .DataTableRow-Copy,
.tablet .DataTableRow-Copy,
.mobile .DataTableHead-Copy,
.tablet .DataTableHead-Copy {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.mobile .DataTableRow-Copy .CopyClipboard,
.tablet .DataTableRow-Copy .CopyClipboard,
.mobile .DataTableHead-Copy .CopyClipboard,
.tablet .DataTableHead-Copy .CopyClipboard {
    width: auto;
    flex-grow: 1
}

.mobile .DataTableRow-Copy .CancelBtn,
.tablet .DataTableRow-Copy .CancelBtn,
.mobile .DataTableHead-Copy .CancelBtn,
.tablet .DataTableHead-Copy .CancelBtn {
    width: 100%;
    margin-top: 8px
}

.InfoBtn {
    flex-shrink: 0
}

.desktop .InfoBtn {
    margin-left: 8px
}

.mobile .InfoBtn,
.tablet .InfoBtn {
    display: flex;
    align-items: center;
    margin-left: 4px
}

.history-page-transactions__filters .TabSelect-Item--accepted,
.history-page-transactions__filters .TabSelect-Item--paid,
.history-page-transactions__filters .m-combobox-row--accepted,
.history-page-transactions__filters .m-combobox-row--paid {
    color: var(--color-su500)
}

.history-page-transactions__filters .TabSelect-Item--canceled,
.history-page-transactions__filters .m-combobox-row--canceled {
    color: var(--color-da500)
}

.history-page-transactions__filters .TabSelect-Item--approved,
.history-page-transactions__filters .m-combobox-row--approved {
    color: var(--color-in300)
}

.history-page-transactions__filters .TabSelect-Item--pending,
.history-page-transactions__filters .m-combobox-row--pending {
    color: var(--color-light-grey-2)
}

.desktop .history-page-transactions .HistoryFilters-Filter {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 230px
}

.mobile-filters-wrapper--default .MobileFilters {
    background: var(--color-dark-grey-1);
    border-radius: 8px;
    border: none;
    box-shadow: none
}

.desktop .BonusHistoryTable .DataTableRow-Content,
.desktop .BonusHistoryTable .DataTableHead-Content {
    grid-template-columns: .9fr .5fr 1fr .8fr .5fr .5fr 1fr .6fr
}

.BonusHistoryTable .DataTableCol--status.TextOverflow:after {
    display: none;
    background: rgba(0, 0, 0, 0)
}

.mobile .BonusHistoryTable .DataTableCol--status,
.tablet .BonusHistoryTable .DataTableCol--status {
    position: absolute;
    top: 11px;
    right: 16px;
    margin: 0;
    padding: 0;
    border-bottom: none
}

.mobile .BonusHistoryTable .DataTableCol--status .m-icon,
.tablet .BonusHistoryTable .DataTableCol--status .m-icon {
    display: none
}

.mobile .BonusHistoryTable .DataTableCol--status .DataTableCol-Label,
.tablet .BonusHistoryTable .DataTableCol--status .DataTableCol-Label {
    position: absolute;
    visibility: hidden
}

.mobile .BonusHistoryTable .DataTableCol--actionTime,
.tablet .BonusHistoryTable .DataTableCol--actionTime {
    justify-content: flex-start;
    font-size: 12px
}

.mobile .BonusHistoryTable .DataTableCol--actionTime .DataTableCol-Label,
.tablet .BonusHistoryTable .DataTableCol--actionTime .DataTableCol-Label {
    position: absolute;
    visibility: hidden
}

.BonusHistoryTable .DataTableCol--title.DataTableCol--long {
    position: relative;
    overflow: hidden
}

.BonusHistoryTable .DataTableCol--title.DataTableCol--long .DataTableCol-Th {
    flex-shrink: 0
}

.history-page-bonus__filters .TabSelect-Item--active,
.history-page-bonus__filters .TabSelect-Item--wagerDone,
.history-page-bonus__filters .TabSelect-Item--readyToActivate,
.history-page-bonus__filters .m-combobox-row--active,
.history-page-bonus__filters .m-combobox-row--wagerDone,
.history-page-bonus__filters .m-combobox-row--readyToActivate {
    color: var(--color-su500)
}

.history-page-bonus__filters .TabSelect-Item--runOut,
.history-page-bonus__filters .TabSelect-Item--expired,
.history-page-bonus__filters .m-combobox-row--runOut,
.history-page-bonus__filters .m-combobox-row--expired {
    color: var(--color-da500)
}

.history-page-bonus__filters .TabSelect-Item--hold,
.history-page-bonus__filters .TabSelect-Item--pause,
.history-page-bonus__filters .m-combobox-row--hold,
.history-page-bonus__filters .m-combobox-row--pause {
    color: var(--color-at500)
}

.history-page-bonus__filters .TabSelect-Item--cancel,
.history-page-bonus__filters .m-combobox-row--cancel {
    color: var(--color-light-grey-2)
}

.mobile .GameHistoryTable .DataTableCol--actionTime,
.tablet .GameHistoryTable .DataTableCol--actionTime {
    justify-content: flex-start;
    font-size: 12px
}

.mobile .GameHistoryTable .DataTableCol--actionTime .DataTableCol-Label,
.tablet .GameHistoryTable .DataTableCol--actionTime .DataTableCol-Label {
    position: absolute;
    visibility: hidden
}

.history-page-game__filters .TabSelect-Item--accepted,
.history-page-game__filters .TabSelect-Item--paid,
.history-page-game__filters .m-combobox-row--accepted,
.history-page-game__filters .m-combobox-row--paid {
    color: var(--color-su500)
}

.history-page-game__filters .TabSelect-Item--canceled,
.history-page-game__filters .m-combobox-row--canceled {
    color: var(--color-da500)
}

.history-page-game__filters .TabSelect-Item--approved,
.history-page-game__filters .m-combobox-row--approved {
    color: var(--color-in300)
}

.history-page-game__filters .TabSelect-Item--pending,
.history-page-game__filters .m-combobox-row--pending {
    color: var(--color-light-grey-2)
}

.desktop .BettingHistoryTable .DataTableRow-Content,
.desktop .BettingHistoryTable .DataTableHead-Content {
    grid-template-columns: 1.3fr 0.4fr 2fr .7fr .8fr .8fr 1fr
}

.BettingHistoryTable .DataTableCol--betType {
    text-transform: capitalize
}

.mobile .BettingHistoryTable .DataTableCol--createTime,
.tablet .BettingHistoryTable .DataTableCol--createTime {
    justify-content: flex-start;
    font-size: 12px
}

.mobile .BettingHistoryTable .DataTableCol--createTime .DataTableCol-Label,
.tablet .BettingHistoryTable .DataTableCol--createTime .DataTableCol-Label {
    position: absolute;
    visibility: hidden
}

.BettingHistoryTable .DataTableCol--betStatus.TextOverflow:after {
    display: none;
    background: rgba(0, 0, 0, 0)
}

.mobile .BettingHistoryTable .DataTableCol--betStatus,
.tablet .BettingHistoryTable .DataTableCol--betStatus {
    position: absolute;
    top: 11px;
    right: 16px;
    margin: 0;
    padding: 0;
    border-bottom: none
}

.mobile .BettingHistoryTable .DataTableCol--betStatus .DataTableCol-Label,
.tablet .BettingHistoryTable .DataTableCol--betStatus .DataTableCol-Label {
    position: absolute;
    visibility: hidden
}

.mobile .BettingHistoryTable .DataTableCol--betStatus .m-icon,
.tablet .BettingHistoryTable .DataTableCol--betStatus .m-icon {
    display: none
}

.mobile .BettingHistoryTable .DataTableCol--betMoneyPayout,
.tablet .BettingHistoryTable .DataTableCol--betMoneyPayout {
    border-bottom: none
}

.desktop .BettingHistoryTable .DataTableRow-Copy,
.desktop .BettingHistoryTable .DataTableHead-Copy {
    padding-right: 16px;
    width: 88px
}

.mobile .BettingHistoryTable .DataTableRow-Copy,
.tablet .BettingHistoryTable .DataTableRow-Copy,
.mobile .BettingHistoryTable .DataTableHead-Copy,
.tablet .BettingHistoryTable .DataTableHead-Copy {
    display: flex;
    align-items: center
}

.BettingHistoryTable .InfoBtn {
    flex-shrink: 0
}

.desktop .BettingHistoryTable .InfoBtn {
    margin-left: 8px
}

.mobile .BettingHistoryTable .InfoBtn,
.tablet .BettingHistoryTable .InfoBtn {
    display: flex;
    align-items: center;
    margin-left: 4px
}

.BettingHistoryTable .m-badge {
    text-transform: capitalize
}

.desktop .BettingHistoryTable .DataTable {
    --items-count: 8;
}

.desktop .GameHistoryTable .DataTable {
    --items-count: 7;
}

section.profile-wrapper .profile-page__content {
    overflow: auto;
}

section.profile-wrapper {
    margin: 0;
    max-width: unset;
    overflow: hidden;
}




.BetInfoModal {
    color: var(--color-white)
}

.BetInfoModal-Btn {
    margin-top: 16px;
    width: 100%
}

.BetInfoModal .m-badge {
    margin-right: 8px;
    text-transform: capitalize
}

.BetInfoHeader {
    margin: 0 -16px 16px;
    padding: 0 16px;
    border-bottom: 1px solid var(--color-dark-grey-3);
    display: flex;
    flex-wrap: wrap
}

.BetInfoHeader-Row {
    display: flex;
    align-items: center;
    flex: 1 1 50%
}

.BetInfoHeader-Row__full-width {
    flex: 1 1 100%;
    margin-bottom: 8px
}

.BetInfoHeader-Row__column {
    flex-direction: column;
    align-items: flex-start
}

.BetInfoHeader-Title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--color-light-grey-2);
    text-transform: capitalize;
}

.BetInfoHeader-Label {
    margin: 2px 4px 0 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-mid-grey-3);
}

.BetInfoHeader-Text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-light-grey-4);
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis; 
}

.BetInfoOutcome {
    padding: 12px 16px;
    background: var(--color-dark-grey-3);
    border-radius: 8px
}

.BetInfoOutcome-Event {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.BetInfoOutcome-EventInfo {
    font-size: 14px
}

.BetInfoOutcome-Winner {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-white);
    line-height: 1.5
}

.BetInfoOutcome-Participants {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-light-grey-2);
    text-transform: capitalize;
    line-height: 1.6
}

.BetInfoOutcome-BetOdds {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
    line-height: 1.5
}

.BetInfoTable {
    display: flex;
    justify-content: space-between;
    margin: 12px 0
}

.BetInfoTable-Col {
    min-width: 0;
    padding: 8px 16px;
    width: calc(50% - .5px);
    background: var(--color-dark-grey-2);
    text-align: center
}

.BetInfoTable-Col:first-child {
    border-right: 1px solid var(--color-dark-grey-1);
    border-radius: 12px 0 0 12px
}

.BetInfoTable-Col:last-child {
    border-left: 1px solid var(--color-dark-grey-1);
    border-radius: 0 12px 12px 0
}

.BetInfoTable-Label {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-mid-grey-5)
}

.BetInfoTable-Value {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--color-light-grey-5);
    word-break: break-all
}

.BetInfoTable-Value--success {
    color: var(--color-su500)
}

.BetInfoTable-Value--lose {
    color: var(--color-light-grey-5)
}

.BetInfoTable-Value--secondary {
    color: var(--color-dark-grey-5)
}

.m-datepicker-wrapper .m-input.m-gradient-border.m-input--basic.m-input--s {
    width: 100%;
}

.HistoryFilters > div {
    margin: 10px 0;
}

.mobile .TextOverflow:after {
    display: none;
}

.desktop .HistoryFilters > div {
    margin: 0 5px;
}

.desktop .BettingHistoryTable.history-section .DataTableRow-Content, .desktop .BettingHistoryTable.history-section .DataTableHead-Content {
    grid-template-columns: 1.8fr 1fr 1.7fr 1.4fr 1fr 1fr;
}

.desktop .BettingHistoryTable.casino-section .DataTableRow-Content, .desktop .BettingHistoryTable.casino-section .DataTableHead-Content {
    grid-template-columns: 1.2fr 1.7fr 1.7fr 1.3fr 1fr 1fr;
}


.m-info-block.m-info-block--medium.m-info-block--secondary.loader-wrapper {
    position: relative;
}

.m-info-block.m-info-block--medium.m-info-block--secondary.loader-wrapper .loader-spinner-container > svg {
    width: 100%;
}

.m-modal-betting-history .m-modal-header, .m-modal-content {
    padding: 16px;
}