.PageSectionTitle {
    display: flex;
    align-items: center;
    margin-bottom: 8px
}

.PageSectionTitle-Text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-mid-grey-3)
}

.PageSectionTitle-Count {
    margin-left: 8px
}

.PageSectionTitle-Right {
    margin-left: auto
}


.wallet-page {
    display: flex;
    flex-direction: column
}

.wallet-page-row {
    display: grid;
    grid-template-columns: 1fr
}

.mobile .wallet-page-row {
    grid-gap: 8px
}

.tablet .wallet-page-row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px
}

.desktop .wallet-page-row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px
}

.wallet-page-row+.wallet-page-row {
    margin-top: 8px
}


.WalletCardActions {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.WalletCardActions-Btn {
    width: calc(50% - 4px)
}


.WalletCardAmount {
    position: relative;
    padding-left: 15px;
    margin-bottom: 16px
}

.WalletCardAmount:before {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    width: 3px;
    height: calc(100% - 8px);
    border-radius: 5px;
    background: var(--color-pr500)
}

.WalletCardAmount-Title {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-mid-grey-5)
}

.WalletCardAmount-Balance {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: var(--color-white)
}

.WalletCardFooter {
    display: flex;
    justify-content: space-between;
    background: var(--color-dark-grey-0);
    border-radius: 0 0 16px 16px;
    overflow: hidden
}

.WalletCardFooter-Column {
    margin-top: 1px;
    width: calc(50% - .5px);
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.6;
    background: var(--color-dark-grey-1)
}

.WalletCardFooter-Text {
    margin-bottom: 1px;
    font-size: 10px;
    font-weight: 500;
    color: var(--color-mid-grey-2)
}

.WalletCardFooter-Amount {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-light-grey-3)
}

.WalletCardFooter-Amount .m-icon {
    width: 14px;
    height: 14px;
    margin-right: 2px
}

.WalletCardFooter .m-currency-converted {
    display: inline-flex;
    justify-content: flex-start
}

.WalletCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px
}

.WalletCardHeader-Currency {
    display: flex;
    align-items: center;
    padding: 2.5px 8px;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-white);
    line-height: 1.6;
    background: var(--color-dark-grey-3);
    border-radius: 34px;
    border: none;
    outline: none;
    cursor: pointer
}

.WalletCardHeader-Currency .m-icon {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    color: var(--color-mid-grey-5)
}

.WalletCard {
    background: var(--color-dark-grey-1);
    border-radius: 16px
}

.WalletCard-Content {
    padding: 16px
}

.withdrawal-link {
    display: flex;
    align-items: center;
    background: var(--color-dark-grey-1);
    cursor: pointer
}

.withdrawal-link-text {
    font-size: 10px;
    font-weight: 500;
    color: var(--color-mid-grey-1);
    line-height: 1.6
}

.withdrawal-link .m-counter {
    margin-left: auto
}

.withdrawal-link .m-icon {
    width: 20px;
    height: 20px;
    margin-left: 4px
}


.withdrawal-limits-tooltip__btn {
    display: inline-flex;
    align-items: center;
    padding: 0 5px 0 9px;
    height: 24px;
    font-size: 10px;
    font-weight: 600;
    color: var(--color-mid-grey-3);
    line-height: 1.6;
    border: 1px solid var(--color-dark-grey-3);
    border-radius: var(--button-border-radius-s);
    outline: none;
    cursor: pointer
}

.withdrawal-limits-tooltip__btn .m-icon {
    width: 14px;
    height: 14px;
    color: var(--color-mid-grey-1)
}

.withdrawal-limits-tooltip__btn:active {
    color: var(--color-mid-grey-5);
    background: var(--color-dark-grey-3)
}

.withdrawal-limits-tooltip__btn:active .m-icon {
    color: var(--color-mid-grey-3)
}

.withdrawal-limits-tooltip__label {
    display: inline-flex;
    align-items: center
}

.withdrawal-limits-tooltip__label .m-icon {
    width: 15px;
    height: 15px
}

.withdrawal-limits-tooltip .m-icon {
    margin-left: 2px
}