.feedback-section {
  padding: 16px;
  background: var(--color-dark-grey-1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback-header h1 {
  font-size: 30px;
}

.mobile .feedback-header h1 {
  font-size: 20px;
}

.mobile .feedback-header p {
  font-size: 14px;
}

.feedback-header--centered {
  text-align: center;
}

.feedback-header {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.feedback-section-column {
  width: 100%;
}

.feedback-form .m-form-field {
  margin-bottom: 10px;
}

.feedback-form-submit--small {
  flex-direction: column;
  gap: 0.5rem !important;
}

.feedback-form-submit--small button {
width: 100%;
}

.feedback-form-submit {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feedback-form .m-input-content {
  min-height: 100px;
}

.feedback-form-submit span {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-mid-grey-3);
}

.desktop .feedback-header--centered {
  text-align: left;
}

.desktop .feedback-section {
  min-height: 190px;
  padding: 24px;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
}
