.nav-sidebar-expanded-app-links {
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-body-opened-container-spacing,8px)
}

.nav-sidebar-expanded-app-links-app.footer-app-button {
    flex-shrink: 0;
    padding-bottom: 0;
    padding-top: 0
}

.nav-sidebar-expanded-app-links-app .footer-app-button-title {
    margin-top: -2px
}

.nav-sidebar-expanded-cards {
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-body-opened-container-spacing,8px)
}

.nav-sidebar-expanded-cards-referral {
    flex-shrink: 0;
    grid-column: 1/span 2
}

.nav-sidebar-expanded-support {
    flex-direction: column
}

.nav-sidebar-expanded-support,.nav-sidebar-expanded-support-help {
    display: flex;
    gap: var(--buttons-group-spacing-m,8px)
}

.nav-sidebar-expanded-support-help>* {
    flex-basis: 148px;
    flex-grow: 1
}

.nav-sidebar-item-icon {
    --ic-color: var(--icon-color,var(--color-sidebar-list-row-text));
    --ic-background: var(--color-sidebar-list-header-icon-container-background);
    --ic-border-color: var(--color-sidebar-list-header-icon-container-border);
    --ic-border-width: var(--sidebar-list-item-icon-container-border-size);
    --ic-size: var(--sidebar-list-item-icon-container-icon-size);
    --ic-padding: var(--sidebar-list-item-icon-container-expand)
}

.nav-sidebar-item {
    --text-color--nested: var(--color-sidebar-list-row-text);
    --icon-color--nested: var(--color-sidebar-list-row-text);
    --text-color: var(--color-sidebar-list-header-text);
    --icon-color: var(--color-sidebar-list-header-text);
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    font: var(--font-sidebar-list-text);
    font-variant-numeric: var(--font-variant-numeric);
    width: 100%
}

.nav-sidebar-item__content {
    align-items: center;
    display: flex;
    gap: var(--sidebar-list-item-spacing,8px);
    padding: var(--sidebar-list-item-expand,8px);
    width: 100%
}

.nav-sidebar-item--main {
    background: var(--color-dark-grey-2);
    border-radius: 8px;
    transition: background .3s ease-in-out,margin .3s ease-in-out
}

.nav-sidebar-item--nested {
    --icon-color: var(--icon-color--nested);
    color: var(--text-color--nested);
    transition: all .3s ease-in-out
}

@media(hover) {
    .nav-sidebar-item--main:hover {
        --text-color:var(--color-sidebar-list-header-text-hover);
        --icon-color: var(--color-sidebar-list-header-text-hover)
    }

    .nav-sidebar-item--nested:hover {
        --text-color--nested: var(--color-sidebar-list-row-text);
        --icon-color--nested: var(--color-sidebar-list-row-text);
        margin-left: 4px
    }
}

.nav-sidebar-items {
    --text-color: var(--color-sidebar-list-header-text);
    --icon-color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-body-opened-menu-spacing,4px)
}

.nav-sidebar-items-title {
    align-items: center;
    border-radius: var(--sidebar-list-item-border-radius,8px);
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    font: var(--font-sidebar-list-header);
    font-variant-numeric: var(--font-variant-numeric);
    gap: var(--sidebar-list-item-spacing,8px);
    padding: var(--sidebar-list-item-expand,8px);
    position: relative;
    transition: background .3s ease-in-out,margin .3s ease-in-out;
    user-select: none
}

.nav-sidebar-items-title span {
    flex: 1
}

@media(hover) {
    .nav-sidebar-items-title:hover {
        margin-left:4px
    }
}

.nav-sidebar-items-title--light {
    background: var(--color-sidebar-list-header-background)
}

@media(hover) {
    .nav-sidebar-items-title--light:hover {
        --text-color:var(--color-sidebar-list-header-text-hover);
        --icon-color: var(--text-color);
        background: var(--color-sidebar-list-header-background-hover);
        margin-left: 0
    }
}

.nav-sidebar-items-toggle-arrow svg {
    transform: scaleY(-1);
    transition: transform .2s ease-in-out
}

.active .nav-sidebar-items-toggle-arrow svg {
    transform: scale(1)
}

.nav-sidebar-expanded {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 320px
}

@media(max-width: 1280px) {
    .nav-sidebar-expanded {
        background:var(--color-dark-grey-1);
        max-width: 430px;
        width: 100%
    }
}

.nav-sidebar-expanded-items {
    margin-bottom: auto
}

.nav-sidebar-expanded-auth {
    margin-bottom: 16px
}

.nav-sidebar-expanded-content {
    animation: slide-up-opacity .6s cubic-bezier(.4,0,.2,1) .3s forwards;
    display: flex;
    flex: 1;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    width: 100%
}

.nav-sidebar-expanded-scrollY {
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 8px
}

.nav-sidebar-expanded--gap {
    display: flex;
    flex-flow: column;
    gap: var(--sidebar-body-opened-spacing);
    padding: 16px 8px
}

.mobile .nav-sidebar-expanded--gap {
    padding: 16px
}

.nav-sidebar-expanded--screen-controls .nav-sidebar-expanded-scrollY {
    padding-bottom: 72px
}
