body .rdrDefinedRangesWrapper {
    background: var(--color-dark-grey-2);
    border-right: 1px solid #ffffff08;
}

body .rdrStaticRange {
    background: var(--color-dark-grey-2);
    border-bottom: 1px solid #ffffff08;
}

body .rdrStaticRange .rdrStaticRangeLabel {
    color: white;
}

body .rdrStaticRange:hover .rdrStaticRangeLabel, body .rdrStaticRange:focus .rdrStaticRangeLabel {
    /* background: var(--m-tabs-tab-text-color) */
    background: var(--m-tabs-tab-text-color-active);
}

body .rdrCalendarWrapper, body .rdrDateDisplayWrapper {
    background: var(--color-dark-grey-2);
}

body .rdrDayDisabled {
    background-color: var(--color-dark-grey-1);
}

body .rdrDateDisplayItem, body .rdrInputRangeInput {
    background-color: var(--color-dark-grey-3);
    box-shadow: none;
    border: 1px solid #ffffff08;
}

body .rdrNextPrevButton {
    background-color: var(--color-dark-grey-3);
    color: rgb(232, 232, 232);
}

body .rdrNextPrevButton:hover {
    background-color: var(--color-dark-grey-4);
    color: rgb(232, 232, 232);
}

body .rdrInputRangeInput:focus, 
body .rdrInputRangeInput:hover,
body .rdrDateDisplayItemActive input,
.rdrMonthAndYearPickers select,
body .rdrNextPrevButton {
    color: rgb(232, 232, 232);
}

body .rdrDayNumber span {
    color: white;
}

body .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
body .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
body .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
body .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span{
    color: var(--color-dark-grey-1)
}

@media (max-width: 768px) {
  body .rdrCalendarMonth,
  body .rdrWeekDays {
    display: none;
  }

  body .rdrDateRangePickerWrapper {
    padding: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  body .rdrDefinedRangesWrapper {
    display: none; 
  }

  body .rdrMonthAndYearPickers {
    display: none;
  }
}