.FooterLinks.footer-nav__links {
    --rowsCount: 5;
    --colsCount: 4;
}

.FooterLinks.footer-nav__links.mobile {
    --rowsCount: 10;
    --colsCount: 2;
}

.FooterLinks {
    align-items: start;
}

.footer-app-button:before {
    content: "";
    filter: blur(30px);
    height: 45px;
    left: -15px;
    opacity: 1;
    position: absolute;
    top: -15px;
    width: 45px
}