.Amount_root_hqzcD {
    background-color: var(--color-dark-grey-2);
    padding: 4px 8px 8px;
    border-radius: 12px
}

.Amount_withoutBottomRadius_q5n70 {
    border-radius: 12px 12px 0 0
}

.Amount_label_xnDQk {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-mid-grey-5);
    line-height: 20px;
    margin-bottom: 4px;
    display: flex;
    gap: 4px
}

.Amount_icon_6rOAI {
    display: flex
}

.Amount_input_b8Icp {
    --height: 56px;
    --text-size: 24px;
    --padding-right: 10px !important
}

.AmountChips_root_LitMb {
    margin: 0 calc(-1*var(--sectionPadding));
    padding: 4px var(--sectionPadding) 0 var(--sectionPadding);
    display: flex;
    overflow-x: scroll
}

.desktop .AmountChips_root_LitMb {
    flex-wrap: wrap;
    gap: 4px
}

.ios .AmountChips_root_LitMb:after {
    content: "";
    display: block;
    flex: 0 0 var(--sectionPadding)
}

.AmountChips_item_Q7vgn {
    border: 2px solid rgba(255, 255, 255, .2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    height: 32px;
    border-radius: 20px;
    cursor: pointer;
    flex: 1 0 0
}

.AmountChips_item_Q7vgn:not(:first-child) {
    margin-left: 4px
}

.tablet .AmountChips_item_Q7vgn,
.desktop .AmountChips_item_Q7vgn {
    flex: 1
}

.AmountChips_item_Q7vgn.AmountChips_large_DvHO7 {
    height: 44px
}

.AmountChips_item_Q7vgn.AmountChips_offer__PYdY {
    padding: 0 8px;
    flex-grow: 0;
    width: fit-content
}

.SubmitBtn_root_l3w2q {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 20px;
}

.SubmitBtn_button_i0Q6_ {
    --disabled-background: var(--color-dark-grey-2);
    --disabled-text: var(--color-mid-grey-1)
}

.Support_text_yjcl3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}

.Support_livechat_u6EmP {
    display: flex;
    justify-content: center;
    gap: 2px;
    color: var(--color-su500);
    cursor: pointer
}

.Support_livechat_u6EmP .m-icon {
    width: 20px;
    height: 20px
}


.CurrencySelect_dropdown_sgDAJ {
    border-radius: 8px;
    width: 165px;
    overflow: auto;
    background: var(--color-dark-grey-2)
}

.CurrencySelect_button_Ak0qa {
    width: 100%
}

.CurrencySelect_button_Ak0qa .m-button-content {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.CurrencySelect_icon_NoMBv {
    transition: transform ease-in .2s
}

.CurrencySelect_opened_Q3lvf {
    transform: rotate(180deg)
}

.CurrencySelect_items_GMBhe {
    padding: 8px 0;
    color: var(--color-white)
}

.CurrencySelect_item_O5D5k {
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    cursor: pointer
}

.CurrencySelect_item_O5D5k:hover {
    background: var(--color-dark-grey-3)
}

.m-dropdown-content.CurrencySelect_dropdown_sgDAJ {
    top: 42px;
    right: 0;
    opacity: 1;
}