.gameview-wrapper {
    height: 100vh;
    overflow: hidden
}

.gameview-wrapper--footer-layout {
    overflow: unset
}

.gameview-wrapper--footer-layout .game-page__desktop {
    height: calc(100vh - 100px)
}

.gameview-wrapper--footer-layout .game-page__mobile .game-mode:not(.game-mode--multiple) {
    padding-top: 0
}

.gameview-wrapper--footer-layout .game-page__mobile .game-item--mobile {
    height: calc(var(--app-height, 100%) - 30px)
}

.gameview-wrapper--footer-layout .game-page__mobile .game-item--mobile .game-item__content {
    position: unset
}

.game-header {
    background-color: var(--color-dark-grey-1);
    color: var(--color-text-main);
    padding: 6px 6px 6px 24px;
    border-radius: 12px 12px 0 0
}

.game-header:not(.game-header--mobile) {
    position: absolute;
    width: 100%;
    top: -44px
}

.game-header__tournaments {
    order: -1
}

.game-header__name,
.game-header__home {
    order: -1;
    margin-right: auto
}

.game-header--mobile {
    height: 50px;
    padding: 8px 16px;
    background: var(--color-dark-grey-0);
    border-radius: 0
}



.game-item {
    flex: 1
}

.game-item__content {
    margin: initial;
    width: auto;
    background-color: var(--color-dark-grey-0);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    border-radius: 0 0 12px 12px
}

.game-item__content:not(.game-item__content--multiple) {
    min-width: 1200px
}

.game-item__content--loaded {
    min-width: auto !important
}

.game-item__content--multiple {
    height: calc(50vh - 108px)
}

.game-item__content--search {
    border-radius: 12px;
    height: calc(50vh - 64px)
}

.game-item__content--safari-browser {
    width: 100%
}

.game-item--mobile .game-item__content {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: initial;
    min-width: initial
}


#container:has(.email-verification-banner) .game-mode--single .game-mode__game--screen-1 {
    height: calc(var(--app-height, 100%) - 185px - var(--nav-banner-height))
}

#container:has(.email-verification-banner) .game-item__content--multiple {
    height: calc(50vh - 120px)
}

#container:has(.email-verification-banner) .game-item__content--search {
    height: calc(50vh - 80px)
}

#container:has(.email-verification-banner) .gv-support {
    bottom: calc(63px + var(--nav-banner-height))
}

.game-mode:not(.game-mode--multiple) {
    padding-top: 44px
}

.game-mode__single {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 16px);
    padding: 0 0 65px
}

.game-mode__multiple {
    display: table-row
}

.game-mode__game {
    display: table-cell;
    width: 50%
}

.game-mode--desktop {
    width: calc(100% - 64px)
}

.game-mode--multiple {
    display: table;
    width: auto;
    margin: 0 auto;
    border-spacing: 16px;
    border-collapse: separate
}

.game-mode--empty {
    width: initial;
    width: 100%
}

.game-mode--desktop .game-mode__single {
    height: calc(100vh - 16px - var(--nav-height, 64px))
}

@media(min-width: 1860px) {
    .game-mode {
        max-width: 100%
    }

    .game-mode:not(.game-mode--multiple.game-mode--safari-browser) {
        padding-right: 188px;
        padding-left: 188px
    }
}

.game-mode--single.game-mode--empty .game-mode__multiple {
    width: initial
}

.game-mode--single.game-mode--empty .game-mode__game--screen-1 {
    height: auto
}

.game-mode--single .game-mode__multiple {
    display: table;
    width: 100%;
    margin: 0 auto
}

.game-mode--single .game-mode__game--screen-1 {
    display: flex;
    justify-content: center;
    width: initial;
    max-height: 100%;
    height: calc(var(--app-height, 100%) - 155px)
}

.game-mode--single .game-mode__game--screen-2,
.game-mode--single .game-mode__game--screen-3,
.game-mode--single .game-mode__game--screen-4 {
    display: none
}

.game-mode--safari-browser:not(.game-mode--single) {
    width: 100%
}

.gv-header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px
}

.game-page {
    padding-top: 16px;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 16px);
    background-image: var(--bg);
    background-repeat: repeat
}

.game-page__desktop {
    height: calc(100vh - 46px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative
}

.game-page__mobile {
    padding: 0
}

.game-page--multiply {
    padding-top: 0;
    padding-left: 60px
}

.game-page--top {
    padding-top: 44px
}

.game-page--bottom {
    margin-top: -44px;
    flex-direction: column-reverse
}

.game-page--bottom .game-mode--multiple {
    border-spacing: 16px 60px
}

.game-page--top.game-page--bottom {
    padding-top: 44px
}

.game-page--quad {
    align-items: initial
}


.game-iframe {
    border: none;
    border-radius: 0 0 var(--border-radius-12, 12px) var(--border-radius-12, 12px);
    width: 100%;
    height: calc(100% - 44px);
    flex: 1;
    aspect-ratio: 16 / 9;
}

.game-iframe--desktop {
    flex: initial;
    display: table;
    height: 100%
}

.game-iframe--mobile {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.iframe-loading .game-item__content, .iframe-loading .loader-container {
    background: transparent;
}

.iframe-loading .loader-container {
    box-shadow: inset #ffffff17 0 0 20px 0px;
}