.PageSectionTitle {
    display: flex;
    align-items: center;
    margin-bottom: 8px
}

.PageSectionTitle-Text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-mid-grey-3)
}

.PageSectionTitle-Count {
    margin-left: 8px
}

.PageSectionTitle-Right {
    margin-left: auto
}


.password-change__form {
    padding-bottom: 20px;
    margin-bottom: 20px
}

.desktop .password-change__form {
    margin-bottom: 24px;
    padding-bottom: 24px
}

.password-change__form--border {
    border-bottom: 1px solid var(--color-dark-grey-2)
}

.PasswordChangeForm .m-icon {
    width: 28px;
    height: 28px;
    color: var(--color-mid-grey-5)
}

.PasswordChangeForm .m-form-field {
    margin-bottom: 8px;
    padding: 0 2px
}

.PasswordChangeForm-Btns {
    display: flex;
    justify-content: space-between;
    margin-top: 16px
}

.desktop .PasswordChangeForm-Btns {
    justify-content: flex-end
}

.PasswordChangeForm-Btn {
    width: calc(50% - 4px);
    height: 44px;
    font-size: 16px;
    white-space: nowrap
}

.mobile .PasswordChangeForm-Btn:only-child {
    width: 100%
}

.desktop .PasswordChangeForm-Btn {
    width: 150px;
    margin-right: 8px
}

.desktop .PasswordChangeForm-Btn:last-child {
    margin-right: 0
}

.ChangePassword {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 16px;
    background: var(--color-dark-grey-1);
    border-radius: 8px
}

.ChangePassword-Label {
    font-size: 10px;
    font-weight: 600;
    color: var(--color-mid-grey-5)
}

.ChangePassword-Placeholder {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--color-white)
}